<div class="container">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Admin Panel</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> Login</a>
    </div>
</div>