<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
</head>

<body style="margin-bottom: 30px;">

    <%- include ('partials/navigation') %>
    <div class="container">
        <div class="row">
            <%- body %>
        </div>
    </div>
    <%- include ('partials/footer') %>

    <script src="./js/search.js"></script>
</body>

</html>