<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
</head>

<body style="margin-bottom: 30px;">

    <%- include ('partials/navigation') %>
    <div class="container">
        <div class="row">
            <%- body %>
        </div>
    </div>
    <%- include ('partials/footer') %>

</body>

<script>
    function myFunction() {

        // TODO: Add functionality to search by author name as well
        let input = document.getElementById('search').value.toUpperCase();
        let bookCard = document.getElementsByTagName('section');

        for (i = 0; i < bookCard.length; i++) {

            txtValue = bookCard[i].getAttribute('name').toUpperCase()

            if (txtValue.indexOf(input) > -1) {
                bookCard[i].style.display = "";
            } else {
                bookCard[i].style.display = "none";
            }
        }

    }
</script>

</html>