<div class="container">

	<div class="page-header text-center">
		<h1>Dashboard</h1>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Welcome.</h3>

				<p>
					<strong>ID</strong>: <%= user.loginID %><br>
					<strong>Username</strong>: <%= user.username %><br>
					<strong>Access rights</strong>: <%= user.accessRights %>
				</p>

			</div>
		</div>

	</div>

</div>