module.exports = {
    'connection': Object.assign({
        'user': '<example>',
        'password': '<example>',
        'database': '<example>'
    },
        process.env.NODE_ENV !== 'development' ?
            { 'socketPath': "<example>" } :
            { 'host': '<example>' }
    )
};