module.exports = {
    'connection': Object.assign({
        'user': '<user>',
        'password': '<password>',
        'database': '<database>'
    },
        process.env.NODE_ENV !== 'development' ?
            { 'socketPath': "<cloudsqlconnectionstring" } :
            { 'host': '<hostname>' }
    )
};

// Rename this file to database.js and fill in the missing details.