const mysql = require('mysql');

const db = mysql.createConnection({
    host: 'hostname',
    user: 'user',
    password: 'password',
    database: 'datbasename'
});

module.exports = db;

// Rename this file to db.js and fill in the info!